go 1.19

use (
	./01hello
	./02variables
	./03userinput
	./04conversion
	./07mypointers
	./09myslices
	./10mymaps
	./12mystructs
	./13myswitches
	./14loops
	./16methods
	./17defers
	./18files
	./19webrequests
)
